################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/orchestration/Sagas.Orchestration/.vs/Sagas.Orchestration
/orchestration/Sagas.Orchestration/OrderService/bin/Debug/net8.0
/orchestration/Sagas.Orchestration/OrderService/obj
