/orchestration/OrderService.Solution/.idea/
/orchestration/OrderService.Solution/.idea/.idea.Sagas.Orchestration/.idea/
/orchestration/OrderService.Solution/OrderService/bin
/orchestration/OrderService.Solution/OrderService/obj
/orchestration/Sagas.Orchestration/.vs/Sagas.Orchestration
